@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
$main-blue: #1565c0;
$dark-blue: #003c8f;
$light-blue: #5e92f3;
$main-grey: #455a64;
$dark-grey:#1c313a;
$light-grey: #718792;
$text-color: #ffffff;
$off-white: #fdfdfd;
body {
    background: $off-white;
}

div {
    font-family: 'Roboto Mono';
    color: $text-color;
}

.App {}

.app-title {
    text-align: left;
}

.NavBar {
    padding: 10px;
    text-align: left;
    position: relative;
    background: $main-blue;
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        li {
            margin-bottom: 1em;
        }
    }
    color: $text-color;
    & a {
        color: $text-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.SearchApp {
    background: $dark-grey;
    text-align: center;
    min-height: 40px;
}

.search-input {
    margin-top: 1em;
    margin-bottom: 1em;
    outline: 0;
    height: 24px;
    width: 30%;
    background-color: white;
    color: black;
    border: 0;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.search-bar {}

.Search {
    outline: 0;
    background: none;
    background-color: $light-grey;
    width: 15%;
    height: 2em;
    text-align: center;
    border: 0;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    &:hover {
        background: $light-blue;
    }
}

.IndexApp {}

.YelpResults {
    padding: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, 186px);
    justify-content: space-between;
    border-left: 1px $dark-grey solid;
    border-right: 1px $dark-grey solid;
    background: $off-white;
}

.YelpSingleResult {
    color: black;
    margin-bottom: 1em;
    border-radius: 1%;
    border: 1px solid $dark-grey;
    width: 95%;
    background: $off-white;
    box-shadow: 3px 3px 5px 5px $light-grey;
    text-align: center;
    &:hover {
        box-shadow: 5px 5px 7px 7px $main-grey;
    }
    img {
        border-top-right-radius: 1%;
        border-top-left-radius: 1%;
        width: 100%;
        max-height: 300px;
    }
    .img-container {
        margin: auto;
        text-align: center;
    }
    .restaurant-name {
        text-align: center;
    }
    .restaurant-address {}
    .zip-code {}
    .restaurant-is-going {}
}

.goingtrue {
    background: $main-grey;
    color: $dark-blue;
    box-shadow: 3px 3px 5px 5px $main-blue;
    text-align: center;
    &:hover {
        box-shadow: 5px 5px 7px 7px $main-grey;
    }
    img {
        border-top-right-radius: 1%;
        border-top-left-radius: 1%;
        width: 100%;
        max-height: 300px;
    }
    .img-container {
        margin: auto;
        text-align: center;
    }
    .restaurant-name {
        text-align: center;
    }
}